/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;   
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:100px;
  background-color: #f5f5f5;      
}

#footer a:hover {
	text-decoration: line-through;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

img {	
	margin: .8em .8em;
	opacity: .6;
}

img:hover {
	opacity: 1;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

h1 {
	text-align: center;
	
}

aside a img {
	margin: .6em 1.2em;	
	margin-bottom: 1.4em;
}

form {
	margin-bottom: 6em;
}


.fotoPrincipal {
	opacity: 1;
	margin: 0 auto;
}

.fotoPrincipal:hover {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}






